/BancodeMidias/nbproject/private/
/BancodeMidias/build/
/BancodeMidias/dist/
/TesteProv/nbproject/private/
/TesteProv/build/
/Empresa/nbproject/private/
/Empresa/build/
/PrimeiraGUI/nbproject/private/